@import "tailwindcss";

/* For Firefox and other modern browsers */
* {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af #1f2937; /* thumb color, track color */
}

/* For Chrome, Safari, and other WebKit-based browsers */
::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #1f2937; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid #1f2937; /* creates padding around scroll thumb */
}